<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Ma'pper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.dao.UserMapper">
    <select id="count" resultType="int">
        select count(1) from smbms_user;
    </select>
    <delete id="deleteOne" parameterType="int">
        delete from smbms_user where id = #{id}
    </delete>
    <update id="updateOne" parameterType="user">
        update smbms_user
        <set>
            <if test="userName != null or userName != ''">
                userName = #{userName},
            </if>
            <if test="userCode != null or userCode != ''">
                userCode = #{userCode},
            </if>
            <if test="userPassword != null or userPassword != ''">
                userPassword = #{userPassword},
            </if>
            <if test="gender != null or gender != ''">
                gender = #{gender},
            </if>
            <if test="birthday != null or birthday != ''">
                birthday = #{birthday},
            </if>
            <if test="phone != null or phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null or address != ''">
                address = #{address},
            </if>
            <if test="userRole != null or userRole != ''">
                userRole = #{userRole},
            </if>
        </set>
        where id = #{id}
    </update>



    <insert id="insert" parameterType="user">
        insert into smbms_user(
        <trim suffixOverrides=",">
            <if test="userName != null or userName != ''">
                userName,
            </if>
            <if test="userCode != null or userCode != ''">
                userCode,
            </if>
            <if test="userPassword != null or userPassword != ''">
                userPassword,
            </if>
            <if test="gender != null or gender != ''">
                gender,
            </if>
            <if test="birthday != null or birthday != ''">
                birthday,
            </if>
            <if test="phone != null or phone != ''">
                phone,
            </if>
            <if test="address != null or address != ''">
                address,
            </if>
            <if test="userRole != null or userRole != ''">
                userRole,
            </if>
            <if test="createdBy != null or createdBy != ''">
                createdBy,
            </if>
            <if test="creationDate != null or creationDate != ''">
                creationDate,
            </if>
            <if test="idPicPath != null or idPicPath != ''">
                idPicPath,
            </if>
            <if test="workPicPath != null or workPicPath != ''">
                workPicPath,
            </if>
        </trim>
        ) value (
        <trim suffixOverrides=",">
            <if test="userName != null or userName != ''">
                #{userName},
            </if>
            <if test="userCode != null or userCode != ''">
                #{userCode},
            </if>
            <if test="userPassword != null or userPassword != ''">
                #{userPassword},
            </if>
            <if test="gender != null or gender != ''">
                #{gender},
            </if>
            <if test="birthday != null or birthday != ''">
                #{birthday},
            </if>
            <if test="phone != null or phone != ''">
                #{phone},
            </if>
            <if test="address != null or address != ''">
                #{address},
            </if>
            <if test="userRole != null or userRole != ''">
                #{userRole},
            </if>
            <if test="createdBy != null or createdBy != ''">
                #{createdBy},
            </if>
            <if test="creationDate != null or creationDate != ''">
                #{creationDate},
            </if>
            <if test="idPicPath != null or idPicPath != ''">
                #{idPicPath},
            </if>
            <if test="workPicPath != null or workPicPath != ''">
                #{workPicPath},
            </if>
        </trim>
        )
    </insert>


    <select id="getUserList" resultType="user">
        select * from smbms_user
        <where>
            <if test="userName != null and userName != ''">
                and userName = #{userName}
            </if>
            <if test="userCode != null and userCode != ''">
                and userCode = #{userCode}
            </if>
            <if test="userPassword != null and userPassword != ''">
                and userPassword = #{userPassword}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="birthday != null and birthday != ''">
                and birthday = #{birthday}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="userRole != null and userRole != ''">
                and userRole = #{userRole}
            </if>
        </where>
    </select>




    <select id="login" resultType="user">
        select * from smbms_user where userCode = #{userCode}
    </select>

<!--查询符合条件的人员信息-->
    <resultMap id="userlist" type="user">
        <result property="userRoleName" column="roleName"/>
    </resultMap>

    <select id="getuserlist" resultMap="userlist" parameterType="map">
        select u.*,r.roleName from smbms_user u,smbms_role r
        where r.id = u.userRole
        <if test="userName != null">
            and u.userName like concat('%',#{userName},'%')
        </if>
        <if test="userRoleId != null and userRoleId != 0">
            and u.userRole = #{userRoleId}
        </if>
        order by u.creationDate DESC
        LIMIT #{pageNo},#{pageSize}
    </select>


<!--查询数据总条数-->
    <select id="getUserListCount" resultType="int">
        select count(1) from smbms_user
        <where>
            <if test="userName != null">
                and userName like concat('%',#{userName},'%')
            </if>
            <if test="userRoleId != null and userRoleId != 0">
                and userRole = #{userRoleId}
            </if>
        </where>
    </select>


<!--    修改用户-->
<select id="getUserById" parameterType="int" resultType="user">
    select * from smbms_user where
</select>

</mapper>